In [1]:
import pandas as pd

In [2]:
df_2022 = pd.read_csv('https://github.com/nflverse/nflverse-data/releases/download/pbp/play_by_play_2022.csv')

/var/folders/5p/7rl6w2q54h71cb6zlvtpc8m00000gp/T/ipykernel_83151/3432169182.py:1: DtypeWarning: Columns (179,180,182,183,189,190,193,194,197,198,203,204,205,206,218,219,220,222,224,226,243,244,245,253,254,255,260,262,263,283,284,301) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv('https://github.com/nflverse/nflverse-data/releases/download/pbp/play_by_play_2022.csv')

In [3]:
df_2022

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NaN,NaN,NaN,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.443521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,1.468819,NaN,NaN,NaN,NaN,NaN,0.440373,-44.037291
3,89,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.492192,0.727261,6.988125,6.0,0.60693,0.227598,0.389904,61.009598
4,115,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0,1,-0.325931,NaN,NaN,NaN,NaN,NaN,0.443575,-44.357494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50142,4035,2022_22_KC_PHI,2023021200,PHI,KC,POST,22,NaN,NaN,NaN,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50143,4024,2022_22_KC_PHI,2023021200,PHI,KC,POST,22,KC,away,PHI,...,0,1,0.095553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50144,4050,2022_22_KC_PHI,2023021200,PHI,KC,POST,22,PHI,home,KC,...,0,1,0.016454,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50145,4072,2022_22_KC_PHI,2023021200,PHI,KC,POST,22,PHI,home,KC,...,0,1,-0.070803,NaN,NaN,NaN,NaN,NaN,0.993620,0.637978
50146,4094,2022_22_KC_PHI,2023021200,PHI,KC,POST,22,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_2022[['desc', 'play']]

                                                    desc  play
0                                                   GAME     0
1      9-J.Tucker kicks 68 yards from BAL 35 to NYJ -...     0
2      (14:56) 32-Mi.Carter left end to NYJ 41 for 19...     1
3      (14:29) (No Huddle, Shotgun) 19-J.Flacco pass ...     1
4      (14:25) (No Huddle, Shotgun) 32-Mi.Carter left...     1
...                                                  ...   ...
50142                         Timeout #3 by KC at 00:11.     0
50143  (:11) 7-H.Butker 27 yard field goal is GOOD, C...     0
50144  7-H.Butker kicks 40 yards from KC 35 to PHI 25...     0
50145  (:06) (Shotgun) 1-J.Hurts pass incomplete deep...     1
50146                                           END GAME     0

[50147 rows x 2 columns]